
:root {
    --Background: #F0F3FD;
    --FullHeight: 100vh;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    overflow: hidden;
}

body {
    height: var(--FullHeight);
    width: 100%;
    background: #F0F3FD;
}

#loginWrapper {
    position: absolute;
    color: #5976CA;
    background: #F0F3FD;
    border-radius: 30px;
    padding: 60px 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    height: mincontent;
    display: flex;
    width: 400px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    transition: 0.4s ease;
}

#loginWrapper button{
    background: linear-gradient(180deg, #5A76CA 0%, #C958B0 100%);
    border: none;
    color: #FFFFFF;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 25px;
    width: 40vh;
    height: 7vh;
    padding: 10px 50px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased; 
    transition: 0.2s ease;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#loginWrapper button:hover {
    transform: scale(1.048);
}

#dogImg {
    text-align: center;
}

#upDog{
    width: 30%;
    margin-top: 8%;
}

@media only screen and (max-width: 400px) {
    .loginWrapper {
        padding: 10px 10px;
    }
}
