:root {
    --Background: #F0F3FD;
    --FullHeight: 100vh;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    overflow: hidden;
}

body {
    height: var(--FullHeight);
    width: 100%;
    background: #F0F3FD;
}

#profile {
    padding: 0.625rem 0rem;
    display: grid;
    border-radius: 1.25rem;
    padding-left: 30px;
    padding-right: 1.25rem;
    background: #FFFFFF;
    color: #5976CA;
    position: absolute;
    left: 58.5%;
    top: 10%;
    text-align: left;
    flex-direction: row;
    grid-template-columns: 150px 50px;
    grid-template-rows: 100%;
    grid-template-areas: 
    "name . photo";
    align-items: center;
    border: none;
    cursor: pointer;
}

#profile:hover {
    transform: scale(1.048);
}

#profile #name {
    grid-area: "name";
    font-size: 1.2rem;
}

.dot {
    grid-area: "photo";
    height: 50px;
    width: 50px;
    background-color: #F0F3FD;
    border-radius: 50%;
    float: right;
  }

#roomWrapper {
    font-size: 3rem;
    position: absolute;
    color: #5976CA;
    background: #FFFFFF;
    border-radius: 30px;
    padding: 40px 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    height: min-content;
    display: flex;
    width: 600px;
    margin-top: 30px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    transition: 0.4s ease;
}

.room {
    color: #5976CA;
    display: grid;
    font-size: 1.5rem;  
    background: #F0F3FD;
    border-radius: 1.25rem;
    padding: 10px 1.25rem;
    width: 600px;
    text-align: right;
    padding-left: 30px;
    margin-bottom: 1.25rem;
    grid-template-columns: 45% 30% 25%;
    grid-template-rows: 100%;
    grid-template-areas: 
    "name . number . join";
    align-items: center;
}

.room #eventName {
    text-align: left;
    width: 100%t;
    grid-area: "name";
}

.room #noPart {
    text-align: left;
    width: 100%;
    grid-area: "number";
}

.joinBtn {
    grid-area: "join";
    background: linear-gradient(180deg, #5A76CA 0%, #C958B0 100%);
    border: none;
    color: #FFFFFF;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 15px;
    width: max-content;
    padding: 10px 50px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased; 
    transition: 0.2s ease;
    float: right;
}

.joinBtn:hover {
    transform: scale(1.048);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#waitRoomWrapper {
    display: none;
    position: absolute;
    color: #5976CA;
    background: #FFFFFF;
    border-radius: 30px 30px 30px 00px;
    padding: 30px 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    height: min-content;
    width: 400px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    transition: 0.4s ease;
}

#wait {
    font-size: 1.8rem;
    top: 40%;
    margin-bottom: 40px;
    
}

#currently {
    font-size: 1rem;
    top: 80%;
    margin-bottom: 0;
}

#roomBtn {
    background: grey;
    border: none;
    color: #FFFFFF;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 15px;
    width: max-content;
    padding: 10px 50px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased; 
    transition: 0.2s ease;
}

#roomBtn:hover {
    transform: none;
}

#logo {
    height: auto;
    width: 10%;
    position: absolute;
    top: 50%;
    transform: translateY(40%);
    left: 31%;
    object-position: center top;
    display: none;
}

#countdown {
    margin-top: 50px;
}

@media only screen and (max-width: 400px) {
    .roomWrapper {
        padding: 10px 10px;
    }
}