:root {
    --Background: #F0F3FD;
    --FullHeight: 100vh;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
    overflow: hidden;
}

body {
    height: var(--FullHeight);
    width: 100%;
    background: #F0F3FD;
}

#roomWrapper {
    position: absolute;
    color: #5976CA;
    background: #FFFFFF;
    border-radius: 30px;
    padding: 60px 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    height: min-content;
    display: flex;
    width: 400px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    transition: 0.4s ease;
}

.titleText {
    font-weight: 500;
    font-size: 1.7rem;
    margin-bottom: 40px;
}

#roomBtn {
    background: grey;
    border: none;
    color: #FFFFFF;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 15px;
    width: max-content;
    padding: 10px 50px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased; 
    transition: 0.2s ease;
}

#roomBtn:hover {
    transform: none;
}